<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>user_id:</strong>
    <%= @merge_report.user_id %>
  </p>

    <p>
    <strong>approved:</strong>
    <%= @merge_report.approved %>
  </p>

    <p>
    <strong>game:</strong>
    <%= @merge_report.game %>
  </p>

    <p>
    <strong>filename:</strong>
    <%= @merge_report.filename %>
  </p>

    <p>
    <strong>hash:</strong>
    <%= @merge_report.hash %>
  </p>

    <p>
    <strong>record_count:</strong>
    <%= @merge_report.record_count %>
  </p>

    <p>
    <strong>rating:</strong>
    <%= @merge_report.rating %>
  </p>

    <p>
    <strong>merge_version:</strong>
    <%= @merge_report.merge_version %>
  </p>

    <p>
    <strong>notes:</strong>
    <%= @merge_report.notes %>
  </p>

    <p>
    <strong>approved_at:</strong>
    <%= @merge_report.approved_at %>
  </p>

    <%= link_to 'Edit', edit_merge_report_path(@merge_report) %> |
  <%= link_to 'Back', merge_reports_path %>
</div>