<%= form_for(@mator_smash_statistic) do |f| %>
  <% if @mator_smash_statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mator_smash_statistic.errors.count, "error") %> prohibited this mator_smash_statistic from being saved:</h2>

      <ul>
      <% @mator_smash_statistic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :times_run %><br>
    <%= f.number_field :times_run %>
  </div>
  <div class="field">
    <%= f.label :patches_built %><br>
    <%= f.number_field :patches_built %>
  </div>
  <div class="field">
    <%= f.label :settings_created %><br>
    <%= f.number_field :settings_created %>
  </div>
  <div class="field">
    <%= f.label :plugins_smashed %><br>
    <%= f.number_field :plugins_smashed %>
  </div>
  <div class="field">
    <%= f.label :reports_submitted %><br>
    <%= f.number_field :reports_submitted %>
  </div>
  <div class="field">
    <%= f.label :settings_submitted %><br>
    <%= f.number_field :settings_submitted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>