<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>merge_plugins_statistics</h1>

  <table>
    <thead>
      <tr>
          <th>user_id</th>
          <th>times_run</th>
          <th>merges_built</th>
          <th>plugins_checked</th>
          <th>plugins_fixed</th>
          <th>plugins_merged</th>
          <th>reports_submitted</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @merge_plugins_statistics.each do |merge_plugins_statistic| %>
        <tr>
            <td><%= merge_plugins_statistic.user_id %></td>
            <td><%= merge_plugins_statistic.times_run %></td>
            <td><%= merge_plugins_statistic.merges_built %></td>
            <td><%= merge_plugins_statistic.plugins_checked %></td>
            <td><%= merge_plugins_statistic.plugins_fixed %></td>
            <td><%= merge_plugins_statistic.plugins_merged %></td>
            <td><%= merge_plugins_statistic.reports_submitted %></td>
            <td><%= link_to 'Show', merge_plugins_statistic %></td>
          <td><%= link_to 'Edit', edit_merge_plugins_statistic_path(merge_plugins_statistic) %></td>
          <td><%= link_to 'Destroy', merge_plugins_statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Merge Plugins Statistic', new_merge_plugins_statistic_path %>
</div>