<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>ip:</strong>
    <%= @blacklist_entry.ip %>
  </p>

    <p>
    <strong>username:</strong>
    <%= @blacklist_entry.username %>
  </p>

    <p>
    <strong>created:</strong>
    <%= @blacklist_entry.created %>
  </p>

    <p>
    <strong>expires:</strong>
    <%= @blacklist_entry.expires %>
  </p>

    <%= link_to 'Edit', edit_blacklist_entry_path(@blacklist_entry) %> |
  <%= link_to 'Back', blacklist_entries_path %>
</div>