<div class="scaffold">
  <p id="notice"><%= notice %></p>

  <h1>smash_settings</h1>

  <table>
    <thead>
      <tr>
          <th>submitted_by</th>
          <th>game</th>
          <th>name</th>
          <th>hash</th>
          <th>color</th>
          <th>records</th>
          <th>description</th>
          <th>tree</th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @smash_settings.each do |smash_setting| %>
        <tr>
            <td><%= smash_setting.submitted_by %></td>
            <td><%= smash_setting.game %></td>
            <td><%= smash_setting.name %></td>
            <td><%= smash_setting.hash %></td>
            <td><%= smash_setting.color %></td>
            <td><%= smash_setting.records %></td>
            <td><%= smash_setting.description %></td>
            <td><%= smash_setting.tree %></td>
            <td><%= link_to 'Show', smash_setting %></td>
          <td><%= link_to 'Edit', edit_smash_setting_path(smash_setting) %></td>
          <td><%= link_to 'Destroy', smash_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Smash Setting', new_smash_setting_path %>
</div>