<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>user_id:</strong>
    <%= @smash_setting.user_id %>
  </p>

    <p>
    <strong>approved:</strong>
    <%= @smash_setting.approved %>
  </p>

    <p>
    <strong>game:</strong>
    <%= @smash_setting.game %>
  </p>

    <p>
    <strong>name:</strong>
    <%= @smash_setting.name %>
  </p>

    <p>
    <strong>hash:</strong>
    <%= @smash_setting.hash %>
  </p>

    <p>
    <strong>color:</strong>
    <%= @smash_setting.color %>
  </p>

    <p>
    <strong>records:</strong>
    <%= @smash_setting.records %>
  </p>

    <p>
    <strong>description:</strong>
    <%= @smash_setting.description %>
  </p>

    <p>
    <strong>tree:</strong>
    <%= @smash_setting.tree %>
  </p>

    <%= link_to 'Edit', edit_smash_setting_path(@smash_setting) %> |
  <%= link_to 'Back', smash_settings_path %>
</div>