<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>submitted_by:</strong>
    <%= @smash_report.submitted_by %>
  </p>

    <p>
    <strong>approved:</strong>
    <%= @smash_report.approved %>
  </p>

    <p>
    <strong>smash_setting_id:</strong>
    <%= @smash_report.smash_setting_id %>
  </p>

    <p>
    <strong>game:</strong>
    <%= @smash_report.game %>
  </p>

    <p>
    <strong>filename:</strong>
    <%= @smash_report.filename %>
  </p>

    <p>
    <strong>hash:</strong>
    <%= @smash_report.hash %>
  </p>

    <p>
    <strong>record_count:</strong>
    <%= @smash_report.record_count %>
  </p>

    <p>
    <strong>smash_version:</strong>
    <%= @smash_report.smash_version %>
  </p>

    <p>
    <strong>notes:</strong>
    <%= @smash_report.notes %>
  </p>

    <p>
    <strong>approveD_at:</strong>
    <%= @smash_report.approveD_at %>
  </p>

    <%= link_to 'Edit', edit_smash_report_path(@smash_report) %> |
  <%= link_to 'Back', smash_reports_path %>
</div>