<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>label:</strong>
    <%= @version.label %>
  </p>

    <p>
    <strong>version:</strong>
    <%= @version.version %>
  </p>

    <%= link_to 'Edit', edit_version_path(@version) %> |
  <%= link_to 'Back', versions_path %>
</div>